apiVersion: v1
kind: Service
metadata:
  name: gerador-uuid-core-service
  namespace: gerador-uuid-prod
  labels:
    app: gerador-uuid-core
spec:
  type: ClusterIP
  selector:
    app: gerador-uuid-core
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8081 # Porta interna do Spring Boot