apiVersion: v1
kind: Service
metadata:
  name: gerador-uuid-service-load-balancer
  annotations:
    service.beta.kubernetes.io/aws-load-balancer-scheme: internet-facing
spec:
  type: LoadBalancer
  selector:
    app: gerador-uuid-core
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8081