apiVersion: v1
kind: Service
metadata:
  name: gerador-uuid-core-service
  namespace: gerador-uuid-prod
spec:
  type: ClusterIP # O Kong acessará internamente
  selector:
    app: gerador-uuid-core # Deve corresponder ao label do seu Deployment
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8081 # Porta que o Spring Boot está ouvindo