apiVersion: apps/v1
kind: Deployment
metadata:
  name: gerador-uuid-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gerador-uuid-core
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: gerador-uuid-core
    spec:
      terminationGracePeriodSeconds: 60
      containers:
        - name: gerador-uuid-core
          image: gerador-uuid-core:lastest # Sempre deve ser "latest" para uso local.
          imagePullPolicy: Never
          resources:
            requests:
              memory: "1200Mi"
              cpu: "250m"
            limits:
              memory: 1536Mi
          ports:
            - containerPort: 8081
          livenessProbe:
            httpGet:
              path: /actuator/health
              port: 8081
            initialDelaySeconds: 30
            periodSeconds: 15
            timeoutSeconds: 3
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 8081
            initialDelaySeconds: 20
            periodSeconds: 15
            timeoutSeconds: 3
            failureThreshold: 3
          env:
            - name: SPRING_DATASOURCE_URL
              valueFrom:
                configMapKeyRef:
                  name: gerador-uuid-config
                  key: SPRING_DATASOURCE_URL
            - name: SPRING_DATASOURCE_USERNAME
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_USER
            - name: SPRING_DATASOURCE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_PASSWORD