apiVersion: v1
kind: Service
metadata:
  name: gerador-uuid-service
spec:
  type: NodePort
  selector:
    app: gerador-uuid-core
  ports:
    - port: 8081
      targetPort: 8081
      nodePort: 30081