apiVersion: configuration.konghq.com/v1
kind: KongPlugin
metadata:
  name: redirect-swagger
  namespace: gerador-uuid-prod
plugin: response-transformer
config:
  add:
    headers:
      - "Location: /swagger-ui/index.html"