apiVersion: configuration.konghq.com/v1
kind: KongPlugin
metadata:
  name: redirect-swagger
  namespace: gerador-uuid-prod
plugin: redirect
config:
  # Onde redirecionar
  redirect_to: /swagger-ui/index.html
  # Código de status HTTP (301 para permanente, 302 para temporário)
  status_code: 302
