apiVersion: configuration.konghq.com/v1
kind: KongPlugin
metadata:
  name: redirect-swagger
  namespace: gerador-uuid-prod
plugin: response-transformer
config:
  # Adiciona o cabeçalho Location para forçar o redirecionamento
  add:
    headers:
      - "Location: /swagger-ui/index.html"
  # Opcional: Remove o cabeçalho Content-Type para evitar problemas de CORS/MIME
  remove:
    headers:
      - "Content-Type"