apiVersion: configuration.konghq.com/v1
kind: KongPlugin
metadata:
  name: redirect-swagger
  namespace: gerador-uuid-prod
plugin: response-transformer
config:
  # Adiciona o cabeçalho Location para forçar o redirecionamento
  add:
    headers:
      - "Location: /swagger-ui/index.html"
      - "Content-Type: text/html"