apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
type: Opaque
data:
  POSTGRES_USER: cG9zdGdyZXM=         # base64 - o Kind Secret realiza o conversao automatica.
  POSTGRES_PASSWORD: Z2VyYWRvckAxMjM= # base64 - o Kind Secret realiza o conversao automatica.
